/*! https://github.com/oscarpalmer/oui */

@use './mixins' as mixins;

.oui-button {
	:where(&) {
		@include mixins.button;
	}

	:where(&-blue) {
		--oui-background-value: var(--oui-blue-2);
		--oui-foreground-value: var(--oui-blue-8);
		--oui-outline-value: var(--oui-blue-6);
	}

	:where(&-green) {
		--oui-background-value: var(--oui-green-2);
		--oui-foreground-value: var(--oui-green-8);
		--oui-outline-value: var(--oui-green-6);
	}

	:where(&-orange) {
		--oui-background-value: var(--oui-orange-2);
		--oui-foreground-value: var(--oui-orange-8);
		--oui-outline-value: var(--oui-orange-6);
	}

	:where(&-purple) {
		--oui-background-value: var(--oui-purple-2);
		--oui-foreground-value: var(--oui-purple-8);
		--oui-outline-value: var(--oui-purple-6);
	}

	:where(&-red) {
		--oui-background-value: var(--oui-red-2);
		--oui-foreground-value: var(--oui-red-8);
		--oui-outline-value: var(--oui-red-6);
	}

	:where(&-yellow) {
		--oui-background-value: var(--oui-yellow-2);
		--oui-foreground-value: var(--oui-yellow-8);
		--oui-outline-value: var(--oui-yellow-6);
	}

	:where(&-rounded) {
		padding: 0.5em 1em;
		flex-wrap: nowrap;
		border-radius: 5em;
		white-space: nowrap;
	}

	:where(&-small) {
		font-size: 0.875em;
	}

	:where(&-tiny) {
		--oui-foreground-percentage: 12.5%;

		font-size: 0.75em;
	}

	:where(&:focus-visible) {
		--oui-outline-percentage: 75%;
	}

	@media (hover: hover) {
		:where(&:not([disabled], [aria-disabled='true' i]):hover) {
			--oui-background-percentage: 50%;
			--oui-foreground-percentage: 25%;
			--oui-shadow-percentage: 90%;
		}
	}

	:where(&:not([disabled], [aria-disabled='true' i]):active) {
		box-shadow:
			0 0 0 1px var(--oui-shadow-value),
			inset 0 1px 2px 0 var(--oui-shadow-value),
			inset 0 2px 4px 0 var(--oui-shadow-value);
	}

	:where(&[disabled], &[aria-disabled='true' i]) {
		--oui-background-percentage: 80%;
		--oui-foreground-percentage: 20%;
		--oui-shadow-percentage: 95%;

		font-style: italic;
	}
}
