/*! https://github.com/oscarpalmer/oui */

@use './mixins' as mixins;

:root {
	--oui-absolute: light-dark(white, black);

	--oui-blue-0: light-dark(oklch(0.99 0.01 260), oklch(0.2 0.08 250));
	--oui-blue-1: light-dark(oklch(0.98 0.02 259), oklch(0.25 0.09 251));
	--oui-blue-2: light-dark(oklch(0.95 0.03 258), oklch(0.32 0.1 252));
	--oui-blue-3: light-dark(oklch(0.90 0.04 257), oklch(0.40 0.09 253));
	--oui-blue-4: light-dark(oklch(0.80 0.06 256), oklch(0.5 0.08 254));
	--oui-blue-5: light-dark(oklch(0.70 0.08 255), oklch(0.6 0.07 255));
	--oui-blue-6: light-dark(oklch(0.60 0.1 254), oklch(0.7 0.06 256));
	--oui-blue-7: light-dark(oklch(0.50 0.12 253), oklch(0.8 0.05 257));
	--oui-blue-8: light-dark(oklch(0.42 0.11 252), oklch(0.85 0.04 258));
	--oui-blue-9: light-dark(oklch(0.35 0.1 251), oklch(0.9 0.03 259));
	--oui-blue-10: light-dark(oklch(0.3 0.09 250), oklch(0.95 0.02 260));

	--oui-green-0: light-dark(oklch(0.99 0.01 150), oklch(0.2 0.08 140));
	--oui-green-1: light-dark(oklch(0.98 0.02 149), oklch(0.25 0.09 141));
	--oui-green-2: light-dark(oklch(0.95 0.03 148), oklch(0.32 0.1 142));
	--oui-green-3: light-dark(oklch(0.90 0.04 147), oklch(0.4 0.09 143));
	--oui-green-4: light-dark(oklch(0.80 0.06 146), oklch(0.5 0.08 144));
	--oui-green-5: light-dark(oklch(0.70 0.08 145), oklch(0.6 0.07 145));
	--oui-green-6: light-dark(oklch(0.60 0.1 144), oklch(0.7 0.06 146));
	--oui-green-7: light-dark(oklch(0.50 0.12 143), oklch(0.8 0.05 147));
	--oui-green-8: light-dark(oklch(0.42 0.11 142), oklch(0.85 0.04 148));
	--oui-green-9: light-dark(oklch(0.35 0.1 141), oklch(0.9 0.03 149));
	--oui-green-10: light-dark(oklch(0.3 0.09 140), oklch(0.95 0.02 150));

	--oui-orange-0: light-dark(oklch(0.995 0.02 60), oklch(0.2 0.08 50));
	--oui-orange-1: light-dark(oklch(0.99 0.035 59), oklch(0.25 0.09 51));
	--oui-orange-2: light-dark(oklch(0.97 0.05 58), oklch(0.32 0.1 52));
	--oui-orange-3: light-dark(oklch(0.93 0.07 57), oklch(0.4 0.09 53));
	--oui-orange-4: light-dark(oklch(0.85 0.1 56), oklch(0.5 0.08 54));
	--oui-orange-5: light-dark(oklch(0.70 0.11 55), oklch(0.6 0.07 55));
	--oui-orange-6: light-dark(oklch(0.60 0.12 54), oklch(0.7 0.06 56));
	--oui-orange-7: light-dark(oklch(0.50 0.14 53), oklch(0.8 0.05 57));
	--oui-orange-8: light-dark(oklch(0.42 0.12 53), oklch(0.85 0.04 58));
	--oui-orange-9: light-dark(oklch(0.35 0.11 51), oklch(0.9 0.03 59));
	--oui-orange-10: light-dark(oklch(0.3 0.09 50), oklch(0.95 0.02 60));

	--oui-purple-0: light-dark(oklch(0.99 0.02 300), oklch(0.2 0.08 290));
	--oui-purple-1: light-dark(oklch(0.98 0.035 299), oklch(0.25 0.09 291));
	--oui-purple-2: light-dark(oklch(0.95 0.05 298), oklch(0.32 0.1 292));
	--oui-purple-3: light-dark(oklch(0.90 0.07 297), oklch(0.4 0.09 293));
	--oui-purple-4: light-dark(oklch(0.80 0.1 296), oklch(0.5 0.08 294));
	--oui-purple-5: light-dark(oklch(0.70 0.11 295), oklch(0.6 0.07 295));
	--oui-purple-6: light-dark(oklch(0.60 0.12 294), oklch(0.7 0.06 296));
	--oui-purple-7: light-dark(oklch(0.50 0.14 293), oklch(0.8 0.05 297));
	--oui-purple-8: light-dark(oklch(0.42 0.12 292), oklch(0.85 0.04 298));
	--oui-purple-9: light-dark(oklch(0.35 0.11 291), oklch(0.9 0.03 299));
	--oui-purple-10: light-dark(oklch(0.3 0.09 290), oklch(0.95 0.02 300));

	--oui-red-0: light-dark(oklch(0.995 0.024 25), oklch(0.2 0.08 25));
	--oui-red-1: light-dark(oklch(0.99 0.032 24), oklch(0.25 0.09 24));
	--oui-red-2: light-dark(oklch(0.96 0.05 23), oklch(0.32 0.1 23));
	--oui-red-3: light-dark(oklch(0.93 0.07 22), oklch(0.4 0.09 22));
	--oui-red-4: light-dark(oklch(0.85 0.1 21), oklch(0.5 0.08 21));
	--oui-red-5: light-dark(oklch(0.72 0.11 20), oklch(0.6 0.07 20));
	--oui-red-6: light-dark(oklch(0.60 0.12 19), oklch(0.7 0.06 19));
	--oui-red-7: light-dark(oklch(0.50 0.14 18), oklch(0.8 0.05 18));
	--oui-red-8: light-dark(oklch(0.42 0.12 17), oklch(0.85 0.04 17));
	--oui-red-9: light-dark(oklch(0.35 0.11 16), oklch(0.9 0.03 16));
	--oui-red-10: light-dark(oklch(0.3 0.09 15), oklch(0.95 0.02 15));

	--oui-yellow-0: light-dark(oklch(0.995 0.02 100), oklch(0.2 0.08 90));
	--oui-yellow-1: light-dark(oklch(0.99 0.035 99), oklch(0.25 0.09 91));
	--oui-yellow-2: light-dark(oklch(0.97 0.05 98), oklch(0.33 0.1 92));
	--oui-yellow-3: light-dark(oklch(0.93 0.07 97), oklch(0.4 0.09 93));
	--oui-yellow-4: light-dark(oklch(0.85 0.1 96), oklch(0.5 0.08 94));
	--oui-yellow-5: light-dark(oklch(0.72 0.11 95), oklch(0.6 0.07 95));
	--oui-yellow-6: light-dark(oklch(0.60 0.12 94), oklch(0.7 0.06 96));
	--oui-yellow-7: light-dark(oklch(0.50 0.14 93), oklch(0.8 0.05 97));
	--oui-yellow-8: light-dark(oklch(0.42 0.12 92), oklch(0.85 0.04 98));
	--oui-yellow-9: light-dark(oklch(0.35 0.11 91), oklch(0.9 0.03 99));
	--oui-yellow-10: light-dark(oklch(0.3 0.09 90), oklch(0.95 0.02 100));

	--oui-gray-0: light-dark(oklch(0.98 0 0), oklch(0.22 0 0));
	--oui-gray-1: light-dark(oklch(0.98 0 0), oklch(0.26 0 0));
	--oui-gray-2: light-dark(oklch(0.95 0 0), oklch(0.32 0 0));
	--oui-gray-3: light-dark(oklch(0.90 0 0), oklch(0.4 0 0));
	--oui-gray-4: light-dark(oklch(0.80 0 0), oklch(0.5 0 0));
	--oui-gray-5: light-dark(oklch(0.70 0 0), oklch(0.6 0 0));
	--oui-gray-6: light-dark(oklch(0.60 0 0), oklch(0.7 0 0));
	--oui-gray-7: light-dark(oklch(0.50 0 0), oklch(0.8 0 0));
	--oui-gray-8: light-dark(oklch(0.42 0 0), oklch(0.85 0 0));
	--oui-gray-9: light-dark(oklch(0.35 0 0), oklch(0.9 0 0));
	--oui-gray-10: light-dark(oklch(0.3 0 0), oklch(0.95 0 0));

	--oui-slate-0: light-dark(oklch(0.99 0.0025 255), oklch(0.22 0.005 255));
	--oui-slate-1: light-dark(oklch(0.98 0.005 255), oklch(0.26 0.0075 255));
	--oui-slate-2: light-dark(oklch(0.95 0.0075 255), oklch(0.32 0.01 255));
	--oui-slate-3: light-dark(oklch(0.90 0.01 255), oklch(0.4 0.0125 255));
	--oui-slate-4: light-dark(oklch(0.80 0.015 255), oklch(0.5 0.015 255));
	--oui-slate-5: light-dark(oklch(0.70 0.02 255), oklch(0.6 0.02 255));
	--oui-slate-6: light-dark(oklch(0.60 0.015 255), oklch(0.7 0.015 255));
	--oui-slate-7: light-dark(oklch(0.50 0.0125 255), oklch(0.8 0.0125 255));
	--oui-slate-8: light-dark(oklch(0.42 0.01 255), oklch(0.85 0.01 255));
	--oui-slate-9: light-dark(oklch(0.35 0.0075 255), oklch(0.9 0.0075 255));
	--oui-slate-10: light-dark(oklch(0.3 0.005 255), oklch(0.95 0.005 255));

	--oui-stone-0: light-dark(oklch(0.99 0.0033 95), oklch(0.22 0.005 95));
	--oui-stone-1: light-dark(oklch(0.98 0.0067 95), oklch(0.26 0.0075 95));
	--oui-stone-2: light-dark(oklch(0.95 0.01 95), oklch(0.32 0.01 95));
	--oui-stone-3: light-dark(oklch(0.90 0.0125 95), oklch(0.4 0.0125 95));
	--oui-stone-4: light-dark(oklch(0.80 0.015 95), oklch(0.5 0.015 95));
	--oui-stone-5: light-dark(oklch(0.70 0.02 95), oklch(0.6 0.02 95));
	--oui-stone-6: light-dark(oklch(0.60 0.015 95), oklch(0.7 0.015 95));
	--oui-stone-7: light-dark(oklch(0.50 0.0125 95), oklch(0.8 0.0125 95));
	--oui-stone-8: light-dark(oklch(0.42 0.01 95), oklch(0.85 0.01 95));
	--oui-stone-9: light-dark(oklch(0.35 0.0075 95), oklch(0.9 0.0075 95));
	--oui-stone-10: light-dark(oklch(0.3 0.005 95), oklch(0.95 0.005 95));
}
