/*! https://github.com/oscarpalmer/oui */

@use './mixins' as mixins;

:root {
	--oui-absolute: light-dark(white, black);

	--oui-blue-0: light-dark(oklch(99% 0.01 260deg), oklch(20% 0.08 250deg));
	--oui-blue-1: light-dark(oklch(98% 0.02 259deg), oklch(25% 0.09 251deg));
	--oui-blue-2: light-dark(oklch(95% 0.03 258deg), oklch(32% 0.1 252deg));
	--oui-blue-3: light-dark(oklch(90% 0.04 257deg), oklch(40% 0.09 253deg));
	--oui-blue-4: light-dark(oklch(80% 0.06 256deg), oklch(50% 0.08 254deg));
	--oui-blue-5: light-dark(oklch(70% 0.08 255deg), oklch(60% 0.07 255deg));
	--oui-blue-6: light-dark(oklch(60% 0.1 254deg), oklch(70% 0.06 256deg));
	--oui-blue-7: light-dark(oklch(50% 0.12 253deg), oklch(80% 0.05 257deg));
	--oui-blue-8: light-dark(oklch(42% 0.11 252deg), oklch(85% 0.04 258deg));
	--oui-blue-9: light-dark(oklch(35% 0.1 251deg), oklch(90% 0.03 259deg));
	--oui-blue-10: light-dark(oklch(30% 0.09 250deg), oklch(95% 0.02 260deg));

	--oui-green-0: light-dark(oklch(99% 0.01 150deg), oklch(20% 0.08 140deg));
	--oui-green-1: light-dark(oklch(98% 0.02 149deg), oklch(25% 0.09 141deg));
	--oui-green-2: light-dark(oklch(95% 0.03 148deg), oklch(32% 0.1 142deg));
	--oui-green-3: light-dark(oklch(90% 0.04 147deg), oklch(40% 0.09 143deg));
	--oui-green-4: light-dark(oklch(80% 0.06 146deg), oklch(50% 0.08 144deg));
	--oui-green-5: light-dark(oklch(70% 0.08 145deg), oklch(60% 0.07 145deg));
	--oui-green-6: light-dark(oklch(60% 0.1 144deg), oklch(70% 0.06 146deg));
	--oui-green-7: light-dark(oklch(50% 0.12 143deg), oklch(80% 0.05 147deg));
	--oui-green-8: light-dark(oklch(42% 0.11 142deg), oklch(85% 0.04 148deg));
	--oui-green-9: light-dark(oklch(35% 0.1 141deg), oklch(90% 0.03 149deg));
	--oui-green-10: light-dark(oklch(30% 0.09 140deg), oklch(95% 0.02 150deg));

	--oui-orange-0: light-dark(oklch(99% 0.02 60deg), oklch(20% 0.08 50deg));
	--oui-orange-1: light-dark(oklch(98.5% 0.035 59deg), oklch(25% 0.09 51deg));
	--oui-orange-2: light-dark(oklch(97% 0.05 58deg), oklch(32% 0.1 52deg));
	--oui-orange-3: light-dark(oklch(93% 0.07 57deg), oklch(40% 0.09 53deg));
	--oui-orange-4: light-dark(oklch(87% 0.1 56deg), oklch(50% 0.08 54deg));
	--oui-orange-5: light-dark(oklch(76% 0.11 55deg), oklch(60% 0.07 55deg));
	--oui-orange-6: light-dark(oklch(65% 0.12 54deg), oklch(70% 0.06 56deg));
	--oui-orange-7: light-dark(oklch(55% 0.14 53deg), oklch(80% 0.05 57deg));
	--oui-orange-8: light-dark(oklch(45% 0.12 52deg), oklch(85% 0.04 58deg));
	--oui-orange-9: light-dark(oklch(37.5% 0.11 51deg), oklch(90% 0.03 59deg));
	--oui-orange-10: light-dark(oklch(30% 0.09 50deg), oklch(95% 0.02 60deg));

	--oui-purple-0: light-dark(oklch(99% 0.02 300deg), oklch(20% 0.08 290deg));
	--oui-purple-1: light-dark(oklch(98% 0.035 299deg), oklch(25% 0.09 291deg));
	--oui-purple-2: light-dark(oklch(95% 0.05 298deg), oklch(32% 0.1 292deg));
	--oui-purple-3: light-dark(oklch(90% 0.07 297deg), oklch(40% 0.09 293deg));
	--oui-purple-4: light-dark(oklch(80% 0.1 296deg), oklch(50% 0.08 294deg));
	--oui-purple-5: light-dark(oklch(70% 0.11 295deg), oklch(60% 0.07 295deg));
	--oui-purple-6: light-dark(oklch(60% 0.12 294deg), oklch(70% 0.06 296deg));
	--oui-purple-7: light-dark(oklch(50% 0.14 293deg), oklch(80% 0.05 297deg));
	--oui-purple-8: light-dark(oklch(42% 0.12 292deg), oklch(85% 0.04 298deg));
	--oui-purple-9: light-dark(oklch(35% 0.11 291deg), oklch(90% 0.03 299deg));
	--oui-purple-10: light-dark(oklch(30% 0.09 290deg), oklch(95% 0.02 300deg));

	--oui-red-0: light-dark(oklch(99% 0.024 25deg), oklch(20% 0.08 25deg));
	--oui-red-1: light-dark(oklch(98.5% 0.032 24deg), oklch(25% 0.09 24deg));
	--oui-red-2: light-dark(oklch(97% 0.05 23deg), oklch(32% 0.1 23deg));
	--oui-red-3: light-dark(oklch(93% 0.07 22deg), oklch(40% 0.09 22deg));
	--oui-red-4: light-dark(oklch(87% 0.1 21deg), oklch(50% 0.08 21deg));
	--oui-red-5: light-dark(oklch(76% 0.11 20deg), oklch(60% 0.07 20deg));
	--oui-red-6: light-dark(oklch(65% 0.12 19deg), oklch(70% 0.06 19deg));
	--oui-red-7: light-dark(oklch(55% 0.14 18deg), oklch(80% 0.05 18deg));
	--oui-red-8: light-dark(oklch(45% 0.12 17deg), oklch(85% 0.04 17deg));
	--oui-red-9: light-dark(oklch(37.5% 0.11 16deg), oklch(90% 0.03 16deg));
	--oui-red-10: light-dark(oklch(30% 0.09 15deg), oklch(95% 0.02 15deg));

	--oui-yellow-0: light-dark(oklch(99% 0.02 100deg), oklch(20% 0.08 90deg));
	--oui-yellow-1: light-dark(oklch(98.5% 0.035 99deg), oklch(25% 0.09 91deg));
	--oui-yellow-2: light-dark(oklch(97% 0.05 98deg), oklch(32% 0.1 92deg));
	--oui-yellow-3: light-dark(oklch(93% 0.07 97deg), oklch(40% 0.09 93deg));
	--oui-yellow-4: light-dark(oklch(87% 0.1 96deg), oklch(50% 0.08 94deg));
	--oui-yellow-5: light-dark(oklch(78% 0.11 95deg), oklch(60% 0.07 95deg));
	--oui-yellow-6: light-dark(oklch(65% 0.12 94deg), oklch(70% 0.06 96deg));
	--oui-yellow-7: light-dark(oklch(55% 0.14 93deg), oklch(80% 0.05 97deg));
	--oui-yellow-8: light-dark(oklch(45% 0.12 92deg), oklch(85% 0.04 98deg));
	--oui-yellow-9: light-dark(oklch(37.5% 0.11 91deg), oklch(90% 0.03 99deg));
	--oui-yellow-10: light-dark(oklch(30% 0.09 90deg), oklch(95% 0.02 100deg));

	--oui-gray-0: light-dark(oklch(98% 0 0deg), oklch(22% 0 0deg));
	--oui-gray-1: light-dark(oklch(98% 0 0deg), oklch(26% 0 0deg));
	--oui-gray-2: light-dark(oklch(95% 0 0deg), oklch(32% 0 0deg));
	--oui-gray-3: light-dark(oklch(90% 0 0deg), oklch(40% 0 0deg));
	--oui-gray-4: light-dark(oklch(80% 0 0deg), oklch(50% 0 0deg));
	--oui-gray-5: light-dark(oklch(70% 0 0deg), oklch(60% 0 0deg));
	--oui-gray-6: light-dark(oklch(60% 0 0deg), oklch(70% 0 0deg));
	--oui-gray-7: light-dark(oklch(50% 0 0deg), oklch(80% 0 0deg));
	--oui-gray-8: light-dark(oklch(42% 0 0deg), oklch(85% 0 0deg));
	--oui-gray-9: light-dark(oklch(35% 0 0deg), oklch(90% 0 0deg));
	--oui-gray-10: light-dark(oklch(30% 0 0deg), oklch(95% 0 0deg));

	--oui-slate-0: light-dark(oklch(99% 0.0025 255deg), oklch(22% 0.005 255deg));
	--oui-slate-1: light-dark(oklch(98% 0.005 255deg), oklch(26% 0.0075 255deg));
	--oui-slate-2: light-dark(oklch(95% 0.0075 255deg), oklch(32% 0.01 255deg));
	--oui-slate-3: light-dark(oklch(90% 0.01 255deg), oklch(40% 0.0125 255deg));
	--oui-slate-4: light-dark(oklch(80% 0.015 255deg), oklch(50% 0.015 255deg));
	--oui-slate-5: light-dark(oklch(70% 0.02 255deg), oklch(60% 0.02 255deg));
	--oui-slate-6: light-dark(oklch(60% 0.015 255deg), oklch(70% 0.015 255deg));
	--oui-slate-7: light-dark(oklch(50% 0.0125 255deg), oklch(80% 0.0125 255deg));
	--oui-slate-8: light-dark(oklch(42% 0.01 255deg), oklch(85% 0.01 255deg));
	--oui-slate-9: light-dark(oklch(35% 0.0075 255deg), oklch(90% 0.0075 255deg));
	--oui-slate-10: light-dark(oklch(30% 0.005 255deg), oklch(95% 0.005 255deg));

	--oui-stone-0: light-dark(oklch(99% 0.0033 95deg), oklch(22% 0.005 95deg));
	--oui-stone-1: light-dark(oklch(98% 0.0067 95deg), oklch(26% 0.0075 95deg));
	--oui-stone-2: light-dark(oklch(95% 0.01 95deg), oklch(32% 0.01 95deg));
	--oui-stone-3: light-dark(oklch(90% 0.0125 95deg), oklch(40% 0.0125 95deg));
	--oui-stone-4: light-dark(oklch(80% 0.015 95deg), oklch(50% 0.015 95deg));
	--oui-stone-5: light-dark(oklch(70% 0.02 95deg), oklch(60% 0.02 95deg));
	--oui-stone-6: light-dark(oklch(60% 0.015 95deg), oklch(70% 0.015 95deg));
	--oui-stone-7: light-dark(oklch(50% 0.0125 95deg), oklch(80% 0.0125 95deg));
	--oui-stone-8: light-dark(oklch(42% 0.01 95deg), oklch(85% 0.01 95deg));
	--oui-stone-9: light-dark(oklch(35% 0.0075 95deg), oklch(90% 0.0075 95deg));
	--oui-stone-10: light-dark(oklch(30% 0.005 95deg), oklch(95% 0.005 95deg));
}
