@use 'mixins.scss' as mixins;

:where([oui-dialog], [oui-popover], [oui-tooltip-content]),
:where([oui-dialog])::backdrop {
	opacity: 0;
	transition: 0.125s ease-in-out;
	transition-property: opacity, scale;
}

:where([oui-dialog], [oui-popover], [oui-tooltip-content]) {
	@include mixins.shadow-overlay;

	background-color: var(--oui-absolute);
	scale: 0.9;
}

:where([oui-dialog]:focus, [oui-popover]:focus, [oui-tooltip-content]:focus) {
	outline: none;
}

:where(
	[oui-dialog][oui-dialog-open],
	[oui-popover][oui-popover-open],
	[oui-tooltip-content][oui-tooltip-content-open]
),
:where([oui-dialog][oui-dialog-open])::backdrop {
	opacity: 1;
}

:where(
	[oui-dialog][oui-dialog-open],
	[oui-popover][oui-popover-open],
	[oui-tooltip-content][oui-tooltip-content-open]
) {
	scale: 1;
	transition-delay: 0.125s;
}

:where([oui-popover], [oui-tooltip-content]) {
	@include mixins.floatable;
}

:where([oui-popover]) {
	padding: 1rem;
	background-color: var(--oui-absolute);
	border-radius: 0.25rem;
}

:where(
	[oui-tooltip]:is(
		abbr,
		b,
		cite,
		dfn,
		code,
		em,
		i,
		kbd,
		mark,
		q,
		samp,
		small,
		span,
		strong,
		sub,
		sup,
		time,
		var
	)
) {
	text-decoration: underline dotted;
	text-decoration-skip-ink: auto;
	text-underline-offset: 0.25em;
	cursor: help;
}

:where([oui-tooltip-content]) {
	max-width: 48ch;
	padding: 0.75em 1em;
	background-color: var(--oui-absolute);
	border-radius: 0.25rem;
	font-size: 0.875rem;
	pointer-events: none;

	&::after {
		content: '';
		display: block;
		position: absolute;
	}

	&[oui-position^='above'],
	&[oui-position^='below'],
	&[oui-position^='bottom'],
	&[oui-position^='top'] {
		&::after {
			width: 100%;
			height: 1em;
		}
	}

	&[oui-position^='above'],
	&[oui-position^='top'] {
		&::after {
			inset: calc(100% - 0.5em) 0 0;
		}
	}

	&[oui-position^='below'],
	&[oui-position^='bottom'] {
		&::after {
			inset: -0.5em 0 0;
		}
	}

	&[oui-position^='end'],
	&[oui-position^='left'],
	&[oui-position^='right'],
	&[oui-position^='start'] {
		&::after {
			width: 1em;
			height: 100%;
		}
	}

	&[oui-position^='end'],
	&[oui-position^='right'] {
		&::after {
			inset: 0 0 0 -0.5em;
		}
	}

	&[oui-position^='left'],
	&[oui-position^='start'] {
		&::after {
			inset: 0 0 0 calc(100% - 0.5em);
		}
	}
}

:where([oui-tooltip-content][oui-tooltip-content-open]) {
	opacity: 1;
	pointer-events: all;
}
