/*! https://github.com/oscarpalmer/oui */

@use 'mixins.scss' as mixins;

@mixin input {
	outline: 4px solid transparent;
	outline-offset: 0;
	background-color: var(--oui-absolute);
	box-shadow: inset 0 1px 2px 0 color-mix(in oklab, var(--oui-gray-10), transparent 80%);
	transition: 0.125s ease-in-out;
}

:where(.oui-fieldset) {
	padding: 1em;
	border: 1px solid var(--oui-gray-3);
	border-radius: 0.25em;
}

.oui-input {
	:where(&:not([type='range' i])) {
		@include input;

		padding: 0.5em 0.75em;
		border-color: var(--oui-gray-3);
		border-radius: 0.25em;
	}

	:where(&:not([type='range' i], select[multiple], textarea)) {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	:where(&:is([list])) {
		&::-webkit-calendar-picker-indicator {
			display: none !important;
		}
	}

	:where(&:is([type='color' i])) {
		padding: 0;
	}

	:where(&:is([type='date' i],
			[type='datetime-local' i],
			[type='month' i],
			[type='number' i],
			[type='tel' i],
			[type='time' i],
			[type='url' i],
			[type='week' i])) {
		font-variant-numeric: tabular-nums;
	}

	:where(&:is([type='file' i])) {
		padding-left: .5em;

		&::file-selector-button {
			padding: .5em .75em;
			margin: 0 .75em 0 0;
			background-color: var(--oui-gray-1);
			border: 1px solid var(--oui-gray-3);
			border-radius: .25em;
			box-shadow: inset 0 1px 0 0 var(--oui-gray-0), 0 1px 2px 0 rgba(0, 0, 0, 0.125);
			color: var(--oui-gray-8);
			font-size: .75em;
			line-height: 1;
			transition: .125s ease-in-out;
			cursor: pointer;
		}
	}

	:where(&:is([type='range' i])) {
		appearance: none;
		outline: none;

		&::range-track {
			@include input;

			appearance: none;
			width: 100%;
			height: 0.75em;
			border: 1px solid var(--oui-gray-3);
			border-radius: .75em;
			position: relative;
		}

		&::range-thumb {
			appearance: none;
			width: 1.25em;
			height: 1.25em;
			background-color: var(--oui-blue-6);
			outline: 4px solid transparent;
			border: 2px solid var(--oui-absolute);
			border-radius: 1.25em;
			box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.125);
			transition: .125s ease-in-out;
			cursor: pointer;
		}
	}

	:where(&.oui-validatable:not([disabled], [aria-disabled='true' i]):is(:user-invalid,
			[aria-invalid='true' i])) {
		& {
			outline-color: color-mix(in oklab, var(--oui-red-6), transparent 60%);
			border-color: var(--oui-red-6);
		}

		&::range-track {
			outline-color: color-mix(in oklab, var(--oui-red-6), transparent 60%);
			border-color: var(--oui-red-6);
		}

		&::file-selector-button {
			background-color: var(--oui-red-0);
			border-color: var(--oui-red-2);
			color: var(--oui-red-9);
		}

		&::range-thumb {
			background-color: var(--oui-red-6);
		}
	}

	:where(&.oui-validatable:not([disabled], [aria-disabled='true' i]):is(:user-valid,
			[aria-invalid='false' i])) {
		& {
			outline-color: color-mix(in oklab, var(--oui-green-6), transparent 60%);
			border-color: var(--oui-green-6);
		}

		&::range-track {
			outline-color: color-mix(in oklab, var(--oui-green-6), transparent 60%);
			border-color: var(--oui-green-6);
		}

		&::file-selector-button {
			background-color: var(--oui-green-0);
			border-color: var(--oui-green-3);
			color: var(--oui-green-9);
		}

		&::range-thumb {
			background-color: var(--oui-green-6);
		}
	}

	:where(&:not([disabled], [aria-disabled='true' i]):focus) {
		outline-color: color-mix(in oklab, var(--oui-blue-6), transparent 60%);
		border-color: var(--oui-blue-6);

		&::file-selector-button {
			background-color: var(--oui-blue-0);
			border-color: var(--oui-blue-3);
			color: var(--oui-blue-9);
		}

		&::range-track,
		&::range-thumb {
			outline-color: color-mix(in oklab, var(--oui-blue-6), transparent 60%);
		}

		&::range-track {
			border-color: var(--oui-blue-6);
		}

		&::range-thumb {
			background-color: var(--oui-blue-6);
			box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.25);
		}
	}

	@media (hover: hover) {
		:where(&:not([disabled], [aria-disabled='true' i]):hover) {
			& {
				outline-color: color-mix(in oklab, var(--oui-blue-6), transparent 80%);
				border-color: var(--oui-blue-6);
			}

			&::range-track {
				outline-color: color-mix(in oklab, var(--oui-blue-6), transparent 80%);
				border-color: var(--oui-blue-6);
			}

			&::file-selector-button {
				background-color: var(--oui-blue-0);
				border-color: var(--oui-blue-3);
				color: var(--oui-blue-9);
			}

			&::range-thumb {
				background-color: var(--oui-blue-5);
			}
		}
	}

	:where(&[readonly]) {
		color: color-mix(in oklab, currentColor, transparent 12.5%);
	}

	:where(&[disabled], &[aria-disabled='true' i]) {
		& {
			background-color: color-mix(in oklab, var(--oui-gray-0), transparent 50%);
			color: color-mix(in oklab, currentColor, transparent 25%);
			font-style: italic;
		}

		&::range-track {
			background-color: color-mix(in oklab, var(--oui-gray-0), transparent 50%);
			color: color-mix(in oklab, currentColor, transparent 25%);
			font-style: italic;
		}

		&::file-selector-button,
		&::range-thumb {
			background-color: var(--oui-gray-1);
		}
	}
}

:where(select.oui-input, .oui-input[list]) {
	padding-right: 2em;
	background-position: right 0.5em center;
}

select.oui-input:is([multiple]) {
	:where(&) {
		--oui-off: attr(oui-off);
		--oui-on: attr(oui-on, '\2713');

		padding: 0;
	}

	:where(& > option) {
		padding: 0.5em 0.75em;
	}

	:where(&[oui-off] > option) {
		&::before {
			content: var(--oui-off);
			margin: 0 0.75em 0 0;
		}
	}

	:where(& > option:nth-of-type(2n)) {
		background-color: color-mix(in oklab, var(--oui-blue-0), transparent 67%)
	}

	:where(& > option:checked) {
		background-color: var(--oui-blue-1);
		color: var(--oui-blue-9);

		&::before {
			content: var(--oui-on);
			margin: 0 .75em 0 0;
		}
	}
}

:where(textarea.oui-input) {
	min-height: 4em;
	resize: vertical;
	transition: all 0.125s ease-in-out, height 0s;
}

:where(.oui-label, .oui-legend) {
	font-size: 0.875rem;
	font-weight: bold;
}

:where(.oui-label) {
	cursor: pointer;
	transition: .125s ease-in-out;

	@media (hover: hover) {
		:where(&:hover) {
			color: var(--oui-blue-8);
		}
	}
}

:where(.oui-legend) {
	padding: 0.5em;
	border: 1px solid var(--oui-gray-3);
	border-radius: 0.25em;
}

:where(.oui-switch, .oui-toggle) {
	position: relative;
	cursor: pointer;

	&::before,
	&::after {
		font-family: system-ui, sans-serif;
		position: absolute;
		transition: 0.125s ease-in-out;
		pointer-events: none;
	}

	&::before {
		outline: 4px solid transparent;
		outline-offset: 0;
	}
}

.oui-switch {
	:where(&) {
		padding: 0 3em 0 0;

		&::before {
			content: '';
			width: 2.5em;
			height: 1.5em;
			display: inline-block;
			background-color: var(--oui-gray-0);
			border: 1px solid var(--oui-gray-3);
			border-radius: 3em;
			right: 0;
		}

		&::after {
			content: attr(oui-off, '\2715');
			width: 1.5em;
			height: 1.5em;
			background-color: var(--oui-absolute);
			border-radius: 1.5em;
			box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.125);
			color: var(--oui-gray-8);
			font-size: 0.75em;
			font-weight: bold;
			line-height: 1.5em;
			text-align: center;
			top: 0.25em;
			right: 1.5em;
		}
	}

	:where(&:has(input:checked)) {
		&::after {
			content: attr(oui-on, '\2713');
			box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.25);
			color: var(--oui-blue-8);
			right: 0.25em;
		}
	}
}

.oui-toggle {
	:where(&) {
		padding: 0 0 0 2em;

		&::before {
			content: '';
			width: 1.5em;
			height: 1.5em;
			display: inline-block;
			background-color: transparent;
			border: 1px solid var(--oui-gray-4);
			inset: 0 auto auto 0;
		}

		&::after {
			opacity: 0;
		}
	}

	:where(&:has(input[type='checkbox' i])) {
		&::before {
			border-radius: 0.25em;
		}

		&::after {
			content: attr(oui-on, '\2713');
			width: 1.5em;
			height: 1.5em;
			color: white;
			text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
			font-weight: bold;
			line-height: 1.5em;
			text-align: center;
			inset: 0 auto auto 0;
		}
	}

	:where(&:has(input[type='radio' i])) {

		&::before,
		&::after {
			border-radius: 50%;
		}

		&::after {
			content: '';
			width: 0.75em;
			height: 0.75em;
			background-color: var(--oui-absolute);
			box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
			inset: 0.375em auto auto 0.375em;
		}
	}

	:where(&:has(input:checked)) {
		&::after {
			opacity: 1;
		}
	}
}

.oui-switch,
.oui-toggle {
	:where(&:has(input:checked)) {
		&::before {
			background-color: var(--oui-blue-6);
			border-color: transparent;
		}
	}

	:where(&:has(input:not([disabled], [aria-disabled='true' i])):focus-within) {
		color: var(--oui-blue-8);

		&::before {
			outline-color: color-mix(in oklab, var(--oui-blue-6), transparent 60%);
			border-color: var(--oui-absolute);
		}
	}

	@media (hover: hover) {
		:where(&:has(input:not([disabled], [aria-disabled='true' i])):hover) {
			color: var(--oui-blue-8);

			&::before {
				outline-color: color-mix(in oklab, var(--oui-blue-6), transparent 80%);
				border-color: var(--oui-blue-6);
			}
		}

		:where(&:has(input:not([disabled], [aria-disabled='true' i]):is(:checked)):hover)::before {
			background-color: color-mix(in oklab, var(--oui-blue-6), transparent 40%);
		}
	}

	:where(&:has(input[disabled], input[aria-disabled='true' i])) {
		color: color-mix(in oklab, currentColor, transparent 25%);
		cursor: default;

		&::after {
			color: color-mix(in oklab, currentColor, transparent);
		}

		&::before {
			background-color: color-mix(in oklab, var(--oui-gray-0), transparent 50%);
			border-color: var(--oui-gray-3);
		}

		&::after {
			box-shadow: 0 0 0 1px var(--oui-gray-3);
			text-shadow: none;
		}
	}
}

:where(label.oui-switch, label.oui-toggle) {
	display: inline-block;
	line-height: 1.5;
}

:where(.oui-switch input, .oui-toggle input) {
	@include mixins.visuallyHidden;
}