/*! https://github.com/oscarpalmer/oui */

@use './mixins.scss' as mixins;

.oui-message {
	:where(&) {
		--oui-shadow-mixed: color-mix(
			in oklab,
			var(--oui-shadow-value, var(--oui-gray-6)),
			transparent 92.5%
		);

		@include mixins.card(
			color-mix(
				in oklab,
				var(--oui-background, var(--oui-gray-0)),
				transparent 25%
			),
			var(--oui-shadow-mixed),
		);

		max-width: fit-content;
		display: inline-flex;
		flex-flow: column nowrap;
		gap: 1em;
		color: var(--oui-foreground, var(--oui-gray-8));
		line-height: 1.25;
	}

	:where(& h2, & h3, & h4, & h5, & h6) {
		font-size: 1em;
		font-weight: bold;
	}

	:where(& hr) {
		height: 1px;
		margin: 0 -1.25em;
		background-color: var(--oui-border, var(--oui-gray-2));
		border: none;
	}

	:where(& p) {
		max-width: 32rem;
		max-width: 64ch;
		display: inline-flex;
		flex-flow: row wrap;
		gap: 1em;
	}

	:where(&-blue, &-info) {
		--oui-background: var(--oui-blue-0);
		--oui-border: var(--oui-blue-2);
		--oui-foreground: var(--oui-blue-8);
		--oui-shadow-value: var(--oui-blue-6);
	}

	:where(&-green, &-success) {
		--oui-background: var(--oui-green-0);
		--oui-border: var(--oui-green-2);
		--oui-foreground: var(--oui-green-8);
		--oui-shadow-value: var(--oui-green-6);
	}

	:where(&-orange, &-warning) {
		--oui-background: var(--oui-orange-0);
		--oui-border: var(--oui-orange-2);
		--oui-foreground: var(--oui-orange-8);
		--oui-shadow-value: var(--oui-orange-6);
	}

	:where(&-purple, &-special) {
		--oui-background: var(--oui-purple-0);
		--oui-border: var(--oui-purple-2);
		--oui-foreground: var(--oui-purple-8);
		--oui-shadow-value: var(--oui-purple-6);
	}

	:where(&-red, &-error) {
		--oui-background: var(--oui-red-0);
		--oui-border: var(--oui-red-2);
		--oui-foreground: var(--oui-red-8);
		--oui-shadow-value: var(--oui-red-6);
	}

	:where(&-yellow, &-notice) {
		--oui-background: var(--oui-yellow-0);
		--oui-border: var(--oui-yellow-2);
		--oui-foreground: var(--oui-yellow-8);
		--oui-shadow-value: var(--oui-yellow-6);
	}
}
