/*! https://github.com/oscarpalmer/oui */

.oui-message {
	:where(&) {
		--oui-shadow-value: color-mix(
			in oklch,
			var(--oui-shadow, var(--oui-gray-6)),
			transparent 95%
		);

		padding: 1em;
		display: inline-flex;
		flex-flow: column nowrap;
		gap: 1em;
		background-color: color-mix(
			in oklab,
			var(--oui-background, var(--oui-gray-0)),
			transparent 25%
		);
		border-radius: 0.5em;
		box-shadow: 0 0 0 1px var(--oui-shadow-value),
			0 1px 2px 0 var(--oui-shadow-value), 0 2px 4px 0 var(--oui-shadow-value);
		color: var(--oui-foreground, var(--oui-gray-8));
		line-height: 1.25;
	}

	:where(& h2, & h3, & h4, & h5, & h6) {
		font-size: 1em;
		font-weight: bold;
	}

	:where(& hr) {
		height: 1px;
		margin: 0 -1em;
		background-color: var(--oui-shadow-value, var(--oui-gray-2));
		border: none;
	}

	:where(& p) {
		display: inline-flex;
		flex-flow: row wrap;
		gap: 1em;
	}

	:where(&-blue, &-info) {
		--oui-background: var(--oui-blue-0);
		--oui-foreground: var(--oui-blue-8);
		--oui-shadow: var(--oui-blue-6);
	}

	:where(&-green, &-success) {
		--oui-background: var(--oui-green-0);
		--oui-foreground: var(--oui-green-8);
		--oui-shadow: var(--oui-green-6);
	}

	:where(&-orange, &-warning) {
		--oui-background: var(--oui-orange-0);
		--oui-foreground: var(--oui-orange-8);
		--oui-shadow: var(--oui-orange-6);
	}

	:where(&-purple, &-special) {
		--oui-background: var(--oui-purple-0);
		--oui-foreground: var(--oui-purple-8);
		--oui-shadow: var(--oui-purple-6);
	}

	:where(&-red, &-error) {
		--oui-background: var(--oui-red-0);
		--oui-foreground: var(--oui-red-8);
		--oui-shadow: var(--oui-red-6);
	}

	:where(&-yellow, &-notice) {
		--oui-background: var(--oui-yellow-0);
		--oui-foreground: var(--oui-yellow-8);
		--oui-shadow: var(--oui-yellow-6);
	}
}
