@mixin colour($name, $zero, $six, $ten, $dark-zero, $dark-six, $dark-ten) {
	& {
		--oui-#{$name}-0: #{$zero};
		--oui-#{$name}-1: color-mix(
			in srgb,
			var(--oui-#{$name}-0),
			var(--oui-#{$name}-6) 5%
		);
		--oui-#{$name}-2: color-mix(
			in srgb,
			var(--oui-#{$name}-0),
			var(--oui-#{$name}-6) 15%
		);
		--oui-#{$name}-3: color-mix(
			in srgb,
			var(--oui-#{$name}-0),
			var(--oui-#{$name}-6) 30%
		);
		--oui-#{$name}-4: color-mix(
			in srgb,
			var(--oui-#{$name}-0),
			var(--oui-#{$name}-6) 50%
		);
		--oui-#{$name}-5: color-mix(
			in srgb,
			var(--oui-#{$name}-0),
			var(--oui-#{$name}-6) 75%
		);
		--oui-#{$name}-6: #{$six};
		--oui-#{$name}-7: color-mix(
			in srgb,
			var(--oui-#{$name}-10),
			var(--oui-#{$name}-6) 75%
		);
		--oui-#{$name}-8: color-mix(
			in srgb,
			var(--oui-#{$name}-10),
			var(--oui-#{$name}-6) 50%
		);
		--oui-#{$name}-9: color-mix(
			in srgb,
			var(--oui-#{$name}-10),
			var(--oui-#{$name}-6) 25%
		);
		--oui-#{$name}-10: #{$ten};

		@media (prefers-color-scheme: dark) {
			& {
				--oui-#{$name}-0: #{$dark-zero};
				--oui-#{$name}-6: #{$dark-six};
				--oui-#{$name}-10: #{$dark-ten};
			}
		}
	}
}

@mixin visuallyHidden() {
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	clip: rect(1px, 1px 1px, 1px) !important;
	clip-path: inset(50%) !important;
	overflow: hidden !important;
	border: 0 !important;
	white-space: nowrap !important;
}
