@use 'mixins.scss' as mixins;

:where(
	[oui-tooltip]:is(
		abbr,
		b,
		cite,
		dfn,
		code,
		em,
		i,
		kbd,
		mark,
		q,
		samp,
		small,
		span,
		strong,
		sub,
		sup,
		time,
		var
	)
) {
	text-decoration: underline dotted;
	text-decoration-skip-ink: auto;
	text-underline-offset: 0.25em;
	cursor: help;
}

:where([oui-tooltip-content]) {
	@include mixins.floatable;

	max-width: 48ch;
	padding: 0.75em 1em;
	opacity: 0;
	background-color: var(--oui-absolute);
	border-radius: 0.25rem;
	font-size: 0.875rem;
	pointer-events: none;
	transition: opacity 0.125s ease-in-out;

	&::after {
		content: '';
		opacity: 0;
		position: absolute;
	}

	&[oui-position^='above'],
	&[oui-position^='below'],
	&[oui-position^='bottom'],
	&[oui-position^='top'] {
		&::after {
			width: 100%;
			height: 0.5em;
		}
	}

	&[oui-position^='above'],
	&[oui-position^='top'] {
		&::after {
			inset: 100% 0 0;
		}
	}

	&[oui-position^='below'],
	&[oui-position^='bottom'] {
		&::after {
			inset: -0.5em 0 0;
		}
	}

	&[oui-position^='end'],
	&[oui-position^='left'],
	&[oui-position^='right'],
	&[oui-position^='start'] {
		&::after {
			width: 0.5em;
			height: 100%;
		}
	}

	&[oui-position^='end'],
	&[oui-position^='right'] {
		&::after {
			inset: 0 0 0 -0.5em;
		}
	}

	&[oui-position^='left'],
	&[oui-position^='start'] {
		&::after {
			inset: 0 0 0 100%;
		}
	}
}

:where([oui-tooltip-content][oui-tooltip-content-active]) {
	opacity: 1;
	pointer-events: auto;
}
