@use 'mixins.scss' as mixins;

:where([oui-tooltip]:is(abbr, b, cite, dfn, code, em, i, kbd, mark, q, samp, small, span, strong, sub, sup, time, var)) {
	text-decoration: underline dotted;
	text-decoration-skip-ink: auto;
	text-underline-offset: 0.25em;
	cursor: help;
}

:where([oui-tooltip-content]) {
	@include mixins.shadowOverlay;

	max-width: 48ch;
	padding: 0.75em 1em;
	background-color: var(--oui-absolute);
	border-radius: 0.25rem;
	font-size: 0.875rem;
}
